@model KYC.Models.ViewModel.KYCViewModel


<div class="container mt-4">
    <div id="kycFormsContainer">
        @await Html.PartialAsync("_KYCForm", Model)
    </div>

    <div class="text-center mt-3">
        <button id="addKYCFormBtn" class="btn btn-outline-primary">+ Add New KYC</button>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/kyc.js"></script>

    <script>
          $('#addKYCFormBtn').click(function () {
            $.ajax({
                url: '@Url.Action("AddEmptyForm", "KYC")',
            type: 'GET',
            success: function (html) {
                $('#kycFormsContainer').append(html);
                bindProvinceDistrictEvents();
            },
            error: function (xhr, status, error) {
                alert('Failed to load new KYC form. Status: ' + xhr.status);
            }
        });
    });
    </script>
}
